@font-face {
    font-family: Lato-Regular;
    src: url("../fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: Lato-Bold;
    src: url("../fonts/Lato-Bold.ttf");
}

.navbar-inverse {
    background-color: #202d36;
}

header a {
    color: #ffffff!important;
    font-size: 14px;
    font-family: Lato-Regular;
}

header a:hover {
    color: #657580!important;
}

footer#footer-1 {
    background: #202d36;
    /*height: 100px;*/
    height: auto;
    /*vertical-align: middle;*/
}

footer#footer-1 a {
    color: #ffffff;
    font-size: 14px;
    margin: 0;
    font-family: Lato-Regular;

}

#footer-1 ul.navbar-left {
    margin: 23px 0;
}

ul#social>li>a {
    padding: 30px 5px;
}

ul#social>li>a:hover {
    background-color: #141e25;
}

footer#footer-1 a:hover {
    color: #657580;

}

footer#footer-2 {
    background: #4d616e;
    height: auto;
    /*height: 240px;*/
}

footer#footer-3 {
    background: #f7f7f7;
    height: auto;
    /*height: 150px;*/
}

footer#footer-3 p {
    color: #363636!important;
    margin: 5px 0;
    font-size: 14px;
    font-family: Lato-Regular;

}

h5 {
    font-family: Lato-Bold;
    color: #a4b4bf;
    font-size: 12px;
    margin: 20px 0;
}

#footer-2 p {
    color: #ffffff;
    margin: 5px 0;
    font-size: 12px;
    font-family: Lato-Bold;
}

.navbar {
    margin-bottom: 0px;
}

#content {
    background-image: url("../img/head.jpg");
    height: 340px;
    text-align: center;
    padding: 120px 0;
}

h1#header {
    color: #ffffff;
    font-family: Lato-Bold;
    font-size: 74px;
}

.bs-docs-container {
    height: 1150px;
    background-color: #f7f7f7;
}

.dropdown-menu {
    background: #202d36;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background-color: transparent;
    border-color: transparent;
}

div.cols {
    padding: 0 0 15px 0;
}

@media screen and (max-width:990px) {
    ul#social>li>a {
        padding: 10px 5px;
        float: left;
    }

    #footer-1 ul.navbar-left {
        margin: 10px 0;
    }
}